.tableH{
    border: 1px solid;
    padding: 100px;
}
table {
    
    width: 900px;
    height: 250px;
    justify-content: center;
    margin: auto;
    padding: 24px;
   
  }
    
  th {
    border-bottom: 1px solid black;
    background-color: #ccc;
    text-align: start;
    
  }
    
  td {
    
    font-weight: 400;
    
  }