 table, th ,td{ 
  border: 0px solid black;
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
} 
th{
  padding: 24px;
  
}


/* .tableData{
  border: 0px solid black;
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  
} */

.tableRow{
  background-color: gray;
  color: #fff;
  padding: 10px;
  font-weight: 600 ;
  width: 100%;
}
.tableContent{
  border: none;
  border-bottom: 2px  solid #ccc;
 padding: 22px;
  
}
button{
  background-color: red;
  
}